# for CMake
jak-project/Testing

# for clion
jak-project/cmake-build-debug/*
jak-project/.idea/*
jak-project/build/*
jak-project/decompiler_out/*
jak-project/decompiler_out2/*
jak-project/logs/*

# wsl apparently builds to here?
jak-project/linux-default/

# for Nix
jak-project//result*

jak-project/\#*#
jak-project/.#*#
jak-project/*.pyc

# output from our tools
jak-project/*.bin
jak-project/*.log
jak-project/*.p2s
jak-project/savestate-out/
jak-project/savestate_out/
jak-project/failures/
jak-project/ee-results*.json
jak-project/.env

# graphics debug
jak-project/debug_out/*
jak-project/gfx_dumps/*
jak-project/screenshots/*

# game stuff
jak-project/game_config/*
jak-project/imgui.ini

# website stuff
jak-project/node_modules/

# texture replacements
jak-project/texture_replacements/*

# generated cmake files
jak-project/svnrev.h
jak-project/ci-artifacts/
jak-project/out/build/
jak-project/__pycache__/
jak-project/.vs/VSWorkspaceState.json
jak-project/.vs/slnx.sqlite
jak-project/.vs/ProjectSettings.json
jak-project/.vs/jak-project/v17/Browse.VC.opendb
jak-project/.vs/jak-project/v17/Browse.VC.db-wal
jak-project/.vs/jak-project/v17/Browse.VC.db-shm
jak-project/.vs/jak-project/v17/Browse.VC.db
jak-project/.vs/jak-project/FileContentIndex/eaeb20b4-ebab-4a23-9c93-51b11614dc71.vsidx
jak-project/.vs/jak-project/FileContentIndex/b4fe476a-bf60-4da3-a3c6-327f92858715.vsidx
jak-project/.vs/jak-project/FileContentIndex/8f47f570-54ee-43d3-8f59-5dc493ec86f8.vsidx
jak-project/.vs/jak-project/FileContentIndex/7af49abf-a904-411c-8cb6-a598b217dc7a.vsidx
jak-project/.vs/jak-project/FileContentIndex/7645e3ef-d34e-4b2a-ae96-f1eb19e759c5.vsidx
jak-project/.vs/cmake.db
jak-project/.vs/CMake Overview
jak-project/custom_levels/jakswap/yakanddaxter.glb
jak-project/custom_levels/jakswap/jak2_2.glb
jak-project/.vs/jak-project/v17/DocumentLayout.json
jak-project/.vs/jak-project/v17/.wsuo
jak-project/.vs/jak-project/FileContentIndex/a35594ac-cede-432a-a5ef-5f630a5d151c.vsidx
