# for CMake
jak-project/Testing

# for clion
jak-project/cmake-build-debug/*
jak-project/.idea/*
jak-project/build/*
jak-project/decompiler_out/*
jak-project/decompiler_out2/*
jak-project/logs/*

# wsl apparently builds to here?
jak-project/linux-default/

# for Nix
jak-project//result*

jak-project/\#*#
jak-project/.#*#
jak-project/*.pyc

# output from our tools
jak-project/*.bin
jak-project/*.log
jak-project/*.p2s
jak-project/savestate-out/
jak-project/savestate_out/
jak-project/failures/
jak-project/ee-results*.json
jak-project/.env

# graphics debug
jak-project/debug_out/*
jak-project/gfx_dumps/*
jak-project/screenshots/*

# game stuff
jak-project/game_config/*
jak-project/imgui.ini

# website stuff
jak-project/node_modules/

# texture replacements
jak-project/texture_replacements/*

# generated cmake files
jak-project/svnrev.h
jak-project/ci-artifacts/
jak-project/out/build/
jak-project/__pycache__/
